RAIL_CLIENT_ID=your_client_id
RAIL_CLIENT_SECRET=your_client_secret
RAIL_PUBLIC_KEY=your_public_key
RAIL_SIGNING_KEY=your_signing_key
RAIL_API_BASE_URL=https://sandbox.layer2financial.com/api/v1
RAIL_AUTH_URL=https://auth.layer2financial.com/oauth2/ausbdqlx69rH6OjWd696/v1/token
PORT=3001
